__pycache__

# finetune_demo: generated & downloaded files
finetune_demo/output
finetune_demo/data/*
!finetune_demo/data/AdvertiseGen
!finetune_demo/data/AdvertiseGen2
!finetune_demo/data/cognition
finetune_demo/formatted_data
ToolAlpaca/
*.gz
*.idea
.DS_Store